@charset "UTF-8";
/* line 1, ../sass/custom.scss */
li#userdata > ul > li {
  padding: 3px 20px;
}

/* line 5, ../sass/custom.scss */
.modal {
  left: 40% !important;
}

/* line 9, ../sass/custom.scss */
body > footer {
  text-align: center;
}
/* line 11, ../sass/custom.scss */
body > footer a {
  color: inherit;
}
/* line 13, ../sass/custom.scss */
body > footer a:before {
  content: '[';
}
/* line 16, ../sass/custom.scss */
body > footer a:after {
  content: ']';
}
/* line 20, ../sass/custom.scss */
body > footer ul {
  list-stype-type: none;
}
/* line 22, ../sass/custom.scss */
body > footer ul li {
  display: inline;
  margin: 0;
}
/* line 25, ../sass/custom.scss */
body > footer ul li:not(:last-child):after {
  content: '•';
}
