@charset "UTF-8";
/* line 4, ../sass/custom.scss */
body {
  padding-top: 70px;
  padding-bottom: 20px;
}

/* line 9, ../sass/custom.scss */
li#userdata > ul > li {
  padding: 3px 20px;
}

/* line 13, ../sass/custom.scss */
.navbar .brand {
  position: relative;
}
/* line 15, ../sass/custom.scss */
.navbar .brand:after {
  position: relative;
  float: right;
  top: -10px;
  left: -5px;
  display: block;
  content: 'α';
  font-size: 150%;
  -webkit-transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  -o-transform: rotate(30deg);
  transform: rotate(30deg);
  color: red;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
}

/* line 29, ../sass/custom.scss */
.navbar .logins img {
  margin-right: 5px;
}

/* line 33, ../sass/custom.scss */
.modal {
  left: 40% !important;
}

/* line 37, ../sass/custom.scss */
.sponsor {
  display: inline-block;
  margin-top: 0;
}
/* line 40, ../sass/custom.scss */
.sponsor img {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 5px;
}

/* line 46, ../sass/custom.scss */
body > footer {
  text-align: center;
}
/* line 48, ../sass/custom.scss */
body > footer p a, body > footer ul a {
  color: inherit;
}
/* line 50, ../sass/custom.scss */
body > footer p a:before, body > footer ul a:before {
  content: '[';
}
/* line 53, ../sass/custom.scss */
body > footer p a:after, body > footer ul a:after {
  content: ']';
}
/* line 57, ../sass/custom.scss */
body > footer ul {
  margin: 0;
  list-stype-type: none;
}
/* line 60, ../sass/custom.scss */
body > footer ul li {
  display: inline;
  margin: 0;
}
/* line 63, ../sass/custom.scss */
body > footer ul li:not(:last-child):after {
  content: '•';
}
