@import "compass/css3/transform";
@import "compass/css3/opacity";

body {
	padding-top: 70px;
	padding-bottom: 20px;
}

li#userdata > ul > li  {
	padding: 3px 20px;
}

.justify {
	text-align: justify;
}

.navbar {
	.navbar-inner {
		padding-left: 10px;
		padding-right: 10px;
	}
	.brand {
		position: relative;
		&:after {
			position: relative;
			float: right;
			top: -10px;
			left: -5px;
			display: block;
			content: 'α';
			font-size: 150%;
			@include rotate(30deg);
			color: red;
			@include opacity(0.8);
		}
	}
}

.navbar .logins img {
	margin-right: 5px;
}

.modal {
	left: 40% !important;
}

.sponsor {
	display: inline-block;
	margin-top: 0;
	img {
		background-color: hsla(0, 0, 0, 0.6);
		padding: 5px;
	}
}

body > footer {
	text-align: center;
	p a, ul a {
		color: inherit;
		&:before {
			content: '[';
		}
		&:after {
			content: ']';
		}
	}
	ul {
		margin: 0;
		list-stype-type: none;
		li {
			display: inline;
			margin: 0;
			&:not(:last-child):after {
				content: '•';
			}
		}
	}
}
