<p>
	<a href="#/domains">← back</a>
</p>
<h1>{{domain}}</h1>
<p>Here you will find a list of all aliases set for {{domain}}.</p>
<table class="table table-striped">
	<thead>
		<tr>
			<th>Alias</th>
			<th>Repository</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="alias in aliases">
			<td><span class="muted">{{domain}}</span>{{alias.alias}}</td>
			<td><span class="muted">({{alias.repo_type}}:)&nbsp;</span>{{alias.repo_url}}</td>
			<td>
				<a href="" class="btn btn-primary" ng-click="openAliasDialog(alias)"><i class="icon-edit icon-white"></i></a>
				<a href="" class="btn btn-danger" ng-click="deleteAlias(alias.id)"><i class="icon-trash icon-white"></i></a>
			</td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td>
				<a class="btn btn-primary" ng-click="openAliasDialog()"><i class="icon-plus icon-white"></i></a>
			</td>
		</tr>
	</tbody>
</table>
<p>
	<a href="#/domains">← back</a>
</p>

<div class="modal fade hide" id="aliasdialog">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h3>Add an alias</h3>
  </div>
  <div class="modal-body">
  	<form name="newAliasForm" class="form-horizontal well">
  		<div class="control-group">
  			<label class="control-label">Alias:</label>
  			<div class="controls">
	  			<input type="text" name="alias" ng-model="alias.alias" placeholder="/stacksignal" path/>
				<div>
					&nbsp;<small ng-show="newAliasForm.alias.$invalid">Please enter a valid path that starts with a slash</small>
				</div>
	  		</div>
	  	</div>
  		<div class="control-group">
  			<label class="control-label">Repository ({{alias.repo_type}}):</label>
  			<div class="controls">
  				<select ng-model="alias.repo_type" name="repo_type" required>
  					<option value="git" selected>Git</option>
  					<option value="hg">Mercurial</option>
  					<option value="bzr">Bazaar</option>
  				</select>
	  			<input type="url" ng-model="alias.repo_url" name="repo_url" placeholder="http://github.com/surma/stacksignal" required/>
				<div>
					&nbsp;<small ng-show="newAliasForm.repo_url.$invalid">Please enter a valid URL</small>
				</div>
	  		</div>
	  	</div>
  		<div class="control-group">
  			<label class="control-label">Forward URL:</label>
  			<div class="controls">
	  			<input type="url" ng-model="alias.forward_url" name="forward_url" placeholder="http://www.surmair.de/" required/>
				<div>
					&nbsp;<small ng-show="newAliasForm.forward_url.$invalid">Please enter a valid URL</small>
				</div>
	  		</div>
	  	</div>
	  	<div class="pull-right">
			<button class="btn btn-danger" data-dismiss="modal">Cancel</button>
			<button class="btn btn-primary" ng-disabled="newAliasForm.$invalid" ng-click="saveNewAlias()">Save</button>
		</div>
		<div class="clearfix"></div>
  	</form>
</div>
