<div class="hero-unit">
	<h1>[Witty Go pun]</h1>
	<p>
		<code>go get code.surmair.de/stacksignal</code>? <em>Yes, please!</em>
	</p>
	<p>
		ImportAlias, which has yet to get a cool new name, will make your
		imports much easier to remember. It’s supposed to be effortless and quick. I
		hope it really is.
	</p>
	<a href="#/wtf" class="btn btn-success btn-large">Get me started</a>
</div>
<p>
	<span class="badge badge-important">Important:</span> If you have an idea for
	a better name for this page, please <a href="mailto:surma@surmair.de">contact me</a>.
</p>
