<h1>Quickstart</h1>
<p class="lead">
	Get started managing your aliases.
</p>
<ol>
	<li>
		<p>
			<strong>Login:</strong> Use Google or GitHub OAuth login to create an account.
		</p>
	</li>
	<li>
		<p>
			<strong>Domain claiming:</strong> Go to your DNS provider and set a <strong>CNAME record</strong> for desired (sub-)domain and let it point to <code>[<em>your UID</em>].importalias.surmair.de</code>. Now you can add your domain.
		</p>
	</li>
	<li>
		<p>
			<strong>Aliases:</strong> Add as many aliases to your domain as you like.
		</p>
	</li>
</ol>
