<h1>Tech Details</h1>
<p class="lead">A (hopefully) complete list, on what has been done how and why.</p>
<h2>Development Stack</h2>
<h4>Backend</h4>
<p>
	<ul>
		<li><a href="http://golang.org">Go</a></li>
		<li><a href="http://gorillatoolkit.org">Gorilla Web Tookit</a></li>
		<li><a href="http://labix.org/mgo">mgo</a></li>
		<li>Miek Gieben’s <a href="https://github.com/miekg/dns">DNS library</a></li>
		<li><a href="http://mongodb.org">MongoDB</a></li>
	</ul>
	A special thanks to <a href="http://profitbricks.com">ProfitBricks</a>
	for sponsoring the infrastracture to run the application and database.
</p>
<h4>Frontend</h4>
<p>
	<ul>
		<li><a href="http://html5boilerplate.com/">HTML5 Boiler Plate</a></li>
		<li><a href="http://twitter.github.com/bootstrap">Twitter Bootstrap</a></li>
		<li><a href="http://jquery.com/">jQuery</a></li>
		<li><a href="http://underscorejs.org/">Underscore</a></li>
		<li><a href="http://requirejs.org/">Require.js</a></li>
		<li><a href="http://angularjs.org/">Angular.js</a></li>
	</ul>
</p>
<h4>Tools</h4>
<p>
	<ul>
		<li><a href="http://google.com/chrome">Chrome</a></li>
		<li><a href="http://sublimetext.com/2">Sublime Text 2</a></li>
	</ul>
<p>
<h2>Stored data</h2>
<p>
	Since I only offer 3rd party OAuth-based logins, no user data is stored
	except for an unique identifier provided by the OAuth provider. Everything else
	that service specific and also accessible via the API.
</p>
<h2>Architecture</h2>
<p>
	A blog post describen the architecture will come soon-ish.
</p>
<h2>API</h2>
<p>
	The <a href="http://docs.importalias.apiary.io/">API documentation</a> has
	been created with <a href="http://apiary.io">apiary.io</a>. The mockup of the API
	(without the authentification layer) can be accessed via <http://importalias.apiary.io>.
	The documentation and implementation should not be considered final.
</p>
<h2>Contact</h2>
<p>
	Contact me via <a href="http://gplus.to/surmair">Google+</a> or <a href="http://twitter.com/surmair">Twitter</a>.
</p>
